/* Header & Footer */
.header-section,
.footer-section {
    padding: 35px 0px 38px;
    background-color: var(--primary-color);

}

.header-section {
    margin-bottom: 30px;
}

.header-section-content,
.footer-section-container {
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.burger-menu {
    display: none;

}

.nav-container {
    width: 390px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
    color: inherit
}

.welcome-container {
    width: 415px;

}

.welcome-container .label {
    color: var(--white-color);
}

.welcome-container p {
    columns: var(--white-color-75);
}

/*main*/
.content-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}

.content-header-container {
    text-align: center;
    width: 410px;
}

.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 570fr 555fr;
    gap: 55px;
    margin-bottom: 64px;

}

/* More Section */
.more-section {
    text-align: center;
    margin-bottom: 100px;
}



@media (max-width: 1200px) {
    .site-content {
        width: 900px;
    }
}

@media (max-width: 1024px) {
    .site-content {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .site-content {
        width: 500px;
    }


    .header-section-content nav {
        display: none;
    }

    .burger-menu {
        display: inline;
    }

    .logo-container {
        width: 130px;

    }

    .logo-container svg {
        width: 45px;

    }

    .content-header-section {
        margin-bottom: 45px;
    }

    .logo {
        font-size: 1.9rem;
    }

    .portfolio-section {
        grid-template-columns: 1fr;
        row-gap: 55px;
        margin-bottom: 30px;
    }

    .more-section {
        margin-bottom: 30px;
    }

    .footer-section-container {
        flex-direction: column;

    }
}

@media (max-width: 568px) {
    .site-content {
        width: 320px;
    }

    article {
        width: 320px;
    }

    footer .sub-heading {
        font-size: 1rem;
    }

}