:root {
    --primary-color: #74C69D;
    --primary-color-100: var(--primary-color);
    --primary-color-75: #74c69dc0;
    --secondary-color: #FFF;
    --secondary-color-100: var(--secondary-color);
    --secondary-color-75: #FFFFFFc0;
    --dark-color: #212529;
    --dark-color-100: var(--dark-color);

    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
}

body {
    margin: 0;
}

.header-section {
    background-color: var(--primary-color);
    padding: 35px 100px 35px;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.sub-heading {
    font-size: 1.25rem;
}

.logo {
    font-size: 40px;
}
.nav-container {
    width: 390px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
    color: inherit
}